<div fxLayout="column" class="main">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between center">

    <div fxLayout="column">
      <div>
        <h3>Venkatanarayana Kadiveti</h3>
      </div>
      <div>
        <span class="data">JAVA and MEAN Stack Developper at Miracle Software Systems, Inc </span>
      </div>
      <div>
        <span>Vishakhapatnam Area, India </span>
      </div>

      <div>
        <span>Mail: kvnarayanamss@gmail.com </span>
      </div>
      <div>
        <span>PhNo: +91 7680932027 </span>
      </div>

    </div>
    <div>
      <img class="image" src="../../../assets/pic.jpg">
    </div>
  </div>

  <div fxLayoutAlign="center" fxLayoutGap="20px" fxLayout="column">

    <div>
      <span class="data">About Me:</span>
      <p>
        I am a Web Developer. I am a tech hunger.I just ready to grab new technologies and want to grow up myself technically.My
        biggest strength is quick learning.I am also a good Team player. Finally, I just do things what my heart says. Obviously,
        It thinks about Technologies and I meant for it.
      </p>

    </div>
  </div>


  <div class="details" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout="column">

    <div>
      <span class="data">Your Dashboard</span>
      <p>private to you</p>
    </div>

    <div fxLayout="row" class="dashboard" fxLayoutAlign="space-between center">
      <div>
        <h3>15</h3>
        <p>Who viewed your profile</p>
      </div>
      <div>
        <h3>15</h3>
        <p>Post views</p>
      </div>
      <div>
        <h3>3</h3>
        <p>Search appearance</p>
      </div>
    </div>

    <div fxLayout="column" class="dashboard" >
      <div fxLayout="row" fxLayoutGap="20px">
        <div>
          <i class="fas fa-user"></i>
        </div>
        <div fxLayout="column">
          <div>
            <span>Career Advice</span>
            <br>
            <span>Participate in thecareer advice plotform:</span>
            <br>
            <span>Get careen advice by conversing with other LinkedIn userswho are leaders in their fields</span>
            <br>
            <hr>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="20px">
          <div>
              <i class="fas fa-briefcase"></i>
          </div>
          <div fxLayout="column">
            <div>
              <span>Career interests</span>
              <br>
              <span>Let recruiters know you're open:</span>
              <br>
              <span>Choose the type of opportunities you'd like to be connected with</span>
              <br>
              <hr>
            </div>
          </div>
        </div>
    </div>

  </div>

</div>